// http://www.w3schools.com/css/css3_animations.asp
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example
    0% {background-color: rgba(250, 250, 250, 1);}
    50% {background-color: rgba(250, 250, 250, 0.60);}
    100% {background-color: rgba(250, 250, 250, 1);}

/* Standard syntax */
@keyframes example
    0% {background-color: rgba(250, 250, 250, 1);}
    50% {background-color: rgba(250, 250, 250, 0.60);}
    100% {background-color: rgba(250, 250, 250, 1);}

@-webkit-keyframes delay-alert
    0% {color: rgba(0, 0, 0, 0);}
    90% {color: rgba(0, 0, 0, 0);}
    100% {color: rgba(0, 0, 0, 0.65);}

@keyframes delay-alert
    0% {color: rgba(0, 0, 0, 0);}
    90% {color: rgba(0, 0, 0, 0);}
    100% {color: rgba(0, 0, 0, 0.65);}



.join-game
  position: relative
  padding: 50
  width: 500
  margin: auto

.scoreboard
  position: relative

  :nth-child(1)
    padding: 0
    margin: 10
    color: #c0e8ed
    font-size: 20
    display: block


  :nth-child(2)
    padding: 0
    margin: 10
    color: #edc0ed
    font-size: 20
    display: block

  .winner
    padding: 0
    margin: 10
    margin-bottom: 30
    color: black

.game
  position: relative
  width: 544px
  // border-style: dashed
  // border-color: black
  // padding: 40px
  // margin: 0px
  margin: auto


  .alert
    width: 90%
    left: 4px
    top: -646px
    // bottom: 646px
    margin: 0px
    padding: 232 23 233 23
    position: relative
    height: 70
    display: flex
    justify-content: center
    align-items: center
    color: rgba(0, 0, 0, 0.65)
    z-index: 100
    border-radius: 530px
    background-color: rgba(250, 250, 250, 0.70)
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    -webkit-timing-function: ease; /* Safari 4.0 - 8.0 */
    animation-name: example
    animation-duration: 5s
    animation-iteration-count: infinite
    animation-timing-function: ease
    h2
      width: 80%
      margin: auto
      text-align: center
      display: block
      // border: 1px
      // border-style: dotted
      // border-color: black

  .coffee
    color: rgba(0, 0, 0, 0.65)
    animation-name: delay-alert
    animation-duration: 15s
