.join-game
  position: relative
  padding: 50
  width: 500
  margin: auto

.scoreboard
  position: relative

  :nth-child(1)
    padding: 0
    margin: 10
    color: #c0e8ed
    font-size: 20
    display: block


  :nth-child(2)
    padding: 0
    margin: 10
    color: #edc0ed
    font-size: 20
    display: block

  .winner
    padding: 0
    margin: 10
    margin-bottom: 30
    color: black

.game
  position: relative
  width: 544px
  // border-style: dashed
  // border-color: black
  padding: 40px
  margin: 0px

  .alert
    width: 90%
    left: 4px
    top: -646px
    // bottom: 646px
    margin: 0px
    padding: 232 23 233 23
    position: relative
    height: 70
    display: flex
    justify-content: center
    align-items: center
    color: rgba(0, 0, 0, 0.65)
    background-color: rgba(250, 250, 250, 0.65)
    transition: 6s
    z-index: 100
    border-radius: 530px

    h1
      margin: 20px
      text-align: center
