.box
  width: 190
  height: 190
  background-color: #7fd5e0
  display: inline-block
  position: relative
  // align-items: auto
  margin: -4.5

  :nth-child(1)
    position: absolute
    top: 0px
    left: 0px

  :nth-child(2)
    position: absolute
    top: 0px
    left: 0px

  :nth-child(3)
    position: absolute
    bottom: 0px
    right: 0px

  :nth-child(4)
    position: absolute
    bottom: 0px
    right: 0px

.player1
  background-color: #edc0ed

.player2
  background-color: #c0e8ed
