.edge
  width:

.horizontal
  width: 202
  height: 9
  background-color: #e5e6e8
  display: inline-block
  margin-right: 0px

.vertical
  width: 9
  height: 190
  background-color: #e5e6e8
  display: inline-block

.horizontal:hover
  background-color: #3b99a5
.vertical:hover
  background-color: #3b99a5

.taken
  background-color: #3b99a5
